.woocommerce ul li {
    list-style: outside none none;
}
.woocommerce ul.products {
    float: left;
    width: 100%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center;
}
.woocommerce .button {
    color: #fff;
}
.woocommerce ul.products li.product figure {
    float: left;
    height: 270px;
    margin: 0 0 20px;
    width: 100%;
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
    color: #888888;
    font-size: 18px;
    font-weight: 500;
}
.cs_shop_wrap .woocommerce-result-count, .page-title, .woocommerce-result-count {
    float: left;
}
.cs_shop_wrap .woocommerce-ordering {
    float: right;
}
.cs_shop_wrap .woocommerce-ordering, .cs_shop_wrap .woocommerce-result-count {
    margin: 0 0 20px;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
    display: inline-block;
    float: none;
}
.woocommerce ul.products li a.loading {
    background: url("images/admin/loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    transition: none 0s ease 0s !important;
}
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-page .add_to_cart_button {
    border: medium none;
    border-radius: 0;
    float: left;
    padding: 6px 9px 7px;
    text-shadow: inherit;
}
.woocommerce ul.products li.product .add_to_cart_button, .woocommerce a.button {
    float: none;
    padding: 0 14px 0 12px;
}
.woocommerce ul.products li .added_to_cart {
    color: #959595;
    font-size: 12px;
    text-transform: uppercase;
}
.px_shop_wrap ul.products {
    margin-left: -0.8%;
    width: 101%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    border: 2px solid #dddddd;
    float: left;
    margin-bottom: 0.8%;
    margin-left: 0.8%;
    padding: 0 0 20px;
    position: relative;
    width: 24.111%;
}
.col-md-9 ul.products li.product, .col-md-9 ul.products li.product {
    width: 32.52%;
}
.col-md-9 .woocommerce ul.products li.last, .col-md-9 ul.products li.last {
    margin-right: 6px;
}
.woocommerce ul.products li.product img {
    height: 100%;
    width: 100%;
}
.woocommerce ul.products li.product figcaption {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 36% 1% 0;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.woocommerce ul.products li.product .no-image figcaption {
    display: none;
}
.woocommerce ul.products li.product:hover figcaption {
    opacity: 1;
}
.woocommerce ul.products li.product figcaption p {
    color: #fff;
}
.woocommerce-page .products .price, .woocommerce .products .star-rating {
    padding-bottom: 5px;
}
.woocommerce-page .products .price {
    color: #999999;
    display: block;
    height: auto;
    margin: 0 0 8px;
    padding: 0;
}
.woocommerce .woocommerce-ordering select, .woocommerce-page .woocommerce-ordering select {
    padding: 2px;
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
    margin: 0;
    padding: 10px 0 0;
}
.onsale {
    border-radius: 100%;
    color: #fff;
    height: 38px;
    padding: 8px 0 0;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 13px;
    width: 40px;
}
.woocommerce .star-rating, .woocommerce-page .star-rating {
    float: right;
    font-family: FontAwesome;
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
    position: relative;
    width: 5.4em;
}
.woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
    color: #bbbbbb;
    content: "";
    float: left;
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
}
.woocommerce .star-rating span, .woocommerce-page .star-rating span {
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    top: 0;
}
.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before {
    color: #d97159;
    content: "";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
    display: inline-block;
    float: none;
    margin: 1em 0 0.5em;
}
.woocommerce .hreview-aggregate .star-rating, .woocommerce-page .hreview-aggregate .star-rating {
    margin: 10px 0 0;
}
.col-md-6 .woocommerce ul.products li.product, .col-md-6 .woocommerce-page ul.products li.product {
    width: 32.2222%;
}
.product .images, .product .summary {
    float: left;
    width: 50%;
}
.product .images {
    margin-bottom: 20px;
    padding-right: 15px;
    text-align: center;
}
.images a, .woocommerce-tabs, .upsells, .related.products {
    float: left;
    width: 100%;
}
.woocommerce-main-image img {
    border: 3px solid #dddddd;
    float: left;
    height: 100%;
    width: 100% !important;
}
.images a {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 0;
}
.images .thumbnails a {
    border: 5px solid #ddd;
    float: left;
    height: 100%;
    margin: 0 7px 0 0;
    padding: 0;
    width: 16%;
}
.images .thumbnails a img {
    height: 70px;
    width: 100%;
}
.product .summary {
    padding: 0 20px;
    text-align: left;
}
.product .summary h1 {
    margin-bottom: 5px;
    text-transform: uppercase;
}
.product .summary .price {
    height: auto;
    margin-bottom: 0;
}
.product span.amount {
}
div.product p.price, div.product p.price span.amount {
    float: left;
    font-size: 24px;
    margin-bottom: 6px;
    margin-right: 6px;
}
.price del span {
    text-decoration: line-through;
}
.cart .quantity input[type="button"] {
    border: 1px solid #ddd;
    display: inline-block;
    height: 24px;
    width: 24px;
}
.cart .quantity input {
    background-color: rgba(255, 255, 255, 0.1);
    color: #888888;
}
.cart .quantity input[type="number"] {
    border: 1px solid #ddd;
    display: inline-block;
    height: 24px;
    margin: -3px 5px 0;
    padding-left: 5px;
    width: 50px;
}
.product .summary div p {
    float: left;
    margin: 0 0 22px;
    width: 100%;
}
.product .summary .cart {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}
.product .summary .quantity.buttons_added {
    float: left;
    margin: 3px 14px 0 0;
}
.product .summary .cart .single_add_to_cart_button {
    border-radius: 3px;
    float: left;
    font-size: 14px;
    padding: 6px 24px;
    text-transform: capitalize;
}
.product_meta {
    float: left;
    width: 100%;
}
.posted_in {
    float: left;
}
.woocommerce-tabs ul.tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #666666;
    float: left;
    font-size: 14px;
    margin: 0 5px 0 0;
    padding: 6px 20px;
    position: relative;
}
.woocommerce-tabs .tabs .active a {
    color: #fff;
}
.panel.entry-content {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    float: left;
    padding: 20px;
    width: 100%;
}
.panel.entry-content h2 {
    margin-bottom: 8px;
}
.upsells.products h2, .related.products h2, .cart_totals h2, .shipping_calculator h2 a, .cross-sells h2, .col-1 h3, .col-2 h3, #order_review_heading {
    margin-bottom: 10px;
}
.commentlist {
    float: left;
    margin-bottom: 20px;
    padding-left: 0;
    width: 100%;
}
.commentlist li {
    float: left;
    list-style: outside none none;
    margin-bottom: 10px;
    width: 100%;
}
.woocommerce-tabs #respond .stars span {
    margin: 0;
}
.woocommerce-tabs .stars span a {
    float: left;
    margin: 0 3px 0 0;
}
p.stars span a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.commentlist li .avatar.avatar-60.photo {
    float: left;
    position: relative;
    z-index: 99;
}
.commentlist li .comment-text {
    display: block;
    padding-left: 60px;
}
.commentlist li .meta {
    margin: 0;
    padding: 0 15px;
    position: relative;
}
.commentlist li .meta strong {
    font-weight: 600;
}
.commentlist li .description {
    float: left;
    padding-left: 15px;
    width: 100%;
}
#reviews #comments {
    border: medium none;
    margin: 0;
    padding: 0;
}
#reviews #comments:before {
    display: none;
}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
    border-color: #e1e1e1;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 12px;
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    border-radius: 5px;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
    padding: 10px 12px;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
    border-color: #e1e1e1;
    padding: 6px 12px;
    vertical-align: middle;
}
.woocommerce table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce table.cart a.remove, .woocommerce-page table.cart a.remove {
    border-radius: 100%;
    color: #949494;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    width: 1em;
}
.product-remove {
    text-align: center;
}
.woocommerce table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .button.alt {
    float: right;
    margin-left: 0.25em;
}
.woocommerce table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
    float: left;
}
.woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    float: left;
    height: 34px;
    line-height: 1em;
    margin: 0 5px 0 0;
    outline: 0 none;
    padding: 7px 6px 8px;
    width: 96px;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, a.button, input.button {
    box-shadow: none;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    padding-bottom: 7px;
    padding-top: 9px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in 0s;
}
.woocommerce form {
    width: 100%;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals, .shipping-calculator-form p {
    float: left;
    width: 100%;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    text-align: right;
    width: 48%;
}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    clear: right;
    float: right;
    margin: 20px 0 0;
    text-align: right;
    width: 48%;
}
.coupon > label {
    float: left;
    margin: 6px 10px 0 0;
}
.coupon input {
    margin-right: 5px;
}
.woocommerce-page .cart-collaterals .cart_totals table {
    float: right;
}
.woocommerce .cart-collaterals .cart_totals tr td, .woocommerce-page .cart-collaterals .cart_totals tr td, .woocommerce .cart-collaterals .cart_totals tr th, .woocommerce-page .cart-collaterals .cart_totals tr th {
    border-color: #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding: 6px;
}
.woocommerce form .form-row, .woocommerce-page form .form-row {
    margin: 0 0 6px;
    padding: 3px;
}
.woocommerce form .form-row select {
    border: medium none;
    height: auto;
    padding: 11px 8px 7px;
    width: 100%;
}
.woocommerce form .form-row input[type="text"], .woocommerce form .form-row input[type="password"], .woocommerce form .form-row input[type="email"], textarea {
    height: auto;
    padding: 6px 3px;
    width: 100%;
}
.chzn-container-single .chzn-search input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
}
.woocommerce .cart-collaterals .shipping_calculator .button, .woocommerce-page .cart-collaterals .shipping_calculator .button {
    display: block;
    float: none;
    width: 100%;
}
.attachment-shop_thumbnail.wp-post-image {
    height: 50px;
    width: 50px;
}
.woocommerce .cross-sells ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
}
.woocommerce form .form-row, .woocommerce-page form .form-row {
    margin: 0 0 6px;
    padding: 3px;
}
.woocommerce form.login {
    float: none !important;
    margin: 0 0 10px;
}
.woocommerce .lost_password {
    float: left;
    margin: 6px 0 0 10px;
}
.woocommerce .checkout #shiptobilling, .woocommerce-page .checkout #shiptobilling {
    float: right;
    line-height: 1.62em;
    margin: 0;
    padding: 0;
}
.woocommerce .checkout .col-2 h3, .woocommerce-page .checkout .col-2 h3 {
    clear: none;
    float: left;
}
.woocommerce-validated label, .input-checkbox {
    float: left;
}
.form-row .checkbox {
    margin-top: 0;
}
#customer_details, .shipping_address, #order_comments_field {
    clear: both;
    float: left;
    width: 100%;
}
.woocommerce-page .col2-set .col-2 {
    float: right;
    width: 49%;
}
#order_review .shop_table .product-name {
    text-align: left;
}
.woocommerce-info:before, .woocommerce-message:before, .woocommerce-error:before {
    content: "i" !important;
    font-family: Times,Georgia,serif !important;
    font-style: italic;
    padding-top: 0 !important;
}
form.checkout ul.woocommerce-error {
    margin-left: 0;
}
.woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    content: "";
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    height: 1.5em;
    left: 1em;
    line-height: 1.5;
    padding-top: 1em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.5em;
}
.woocommerce-message:after, .woocommerce-error:after, .woocommerce-info:after {
    clear: both;
    content: "";
    display: block;
}
.woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before {
    background-color: #949494;
}
.woocommerce-tabs .entry-content p {
    margin: 0;
}
.entry-content p, .entry-summary p, .comment-content p, .mu_register p {
    line-height: 1.71429;
    margin: 0 0 1.71429rem;
}
.woocommerce-info {
    border-top: 3px solid;
}
.woocommerce-message, .woocommerce-error, .woocommerce-info {
    background-color: #dddddd;
    border-radius: 4px;
    border-top: 3px solid #949494;
    list-style: outside none none;
    margin: 0 0 2em;
    padding: 1em 1em 1em 3.5em;
    position: relative;
    width: auto;
}
.chzn-container-single .chzn-single div b {
    background: inherit !important;
    position: relative;
}
.chzn-container-single .chzn-single div b:before {
    content: "";
    left: 0;
    position: absolute;
    top: 7px;
}
.woocommerce-checkout .form-row .chzn-container-active .chzn-single-with-drop div b:before {
    content: "";
}
.woocommerce form .form-row .required, .woocommerce-page form .form-row .required {
    border: 0 none;
    font-weight: bold;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    float: left;
    overflow: visible;
    width: 49%;
}
.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    float: right;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    height: 36px;
    margin: 0 0 7px;
}
#main .woocommerce form .form-row select {
    border-color: #ddd;
}
.woocommerce form .form-row textarea {
    height: 300px;
    padding: 10px;
}
.form-row label {
    font-weight: 600;
}
#account_password-2_field .hidden {
    display: block !important;
}
.woocommerce #payment, .woocommerce-page #payment {
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box {
    background: none repeat scroll 0 0 #666;
    border-radius: 4px;
    color: #fff;
    font-size: 0.92em;
    line-height: 1.5em;
    margin: 1em 0;
    padding: 1em 2%;
    position: relative;
    width: 96%;
}
.woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    margin: 0;
    padding: 20px;
    text-align: left;
}
.payment_methods methods li {
    padding-bottom: 6px;
}
.woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row {
    border-top: medium none;
    padding: 15px;
    text-align: right;
}
.woocommerce #payment ul.payment_methods li input, .woocommerce-page #payment ul.payment_methods li input {
    margin: 0 1em 0 0;
}
.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li {
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    text-align: left;
}
.woocommerce-message:after {
    content: "i" !important;
    font-family: Times,Georgia,serif !important;
    font-style: italic;
    left: 21px;
    padding-top: 0 !important;
    position: absolute;
    top: 0;
}
.page-title {
    margin: 0 10px 0 0;
}
.woocommerce-result-count {
    margin: 17px 0 0;
}
form.woocommerce-ordering {
    float: right;
    margin: 0 0 20px;
    width: auto;
}
ul.products li .button.product_type_variable {
    padding: 0 14px;
}
.woocommerce input[type="submit"] {
    position: inherit;
}
.woocommerce-page .woocommerce-ordering select, .woocommerce .woocommerce-ordering select {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #212121;
    padding: 10px;
    text-transform: uppercase;
}
.woocommerce form .form-row select {
    background-color: #fff;
    border: 1px solid;
    color: #888;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 9px;
}
.chzn-container-single .chzn-single {
    border-color: #ddd !important;
}
.woocommerce-error li {
    padding: 5px 0;
}
.woocommerce-pagination {
    float: left;
    margin: 0 0 40px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 20;
}
.woocommerce-pagination ul {
    float: left;
    margin: 0;
}
.woocommerce-pagination ul li, .pagination ul li {
    float: left;
    list-style: outside none none;
}
.woocommerce-pagination ul li a, .woocommerce-pagination ul li span {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #e1e1e1;
    border-radius: 0;
    color: #959595;
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 33px;
    line-height: 30px;
    margin-left: -1px;
    margin-right: 5px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    width: 33px;
}
.woocommerce-pagination ul li span {
    color: #fff;
}
.woocommerce-pagination ul li a:hover {
    background-color: #ddd;
    color: #fff;
}
.form-row label.inline {
    margin-left: 7px;
}
.woocommerce-tabs #respond form p {
    margin-bottom: 8px;
    width: 100%;
}
.woocommerce-tabs #respond form p label {
    left: auto;
    position: inherit;
}
.woocommerce-tabs #respond form p.stars {
    padding-left: 0;
}
.woocommerce-tabs .stars span a {
    float: left;
    margin: 0 3px 0 0;
}
#ship-to-different-address label {
    padding-left: 0;
}
.value > select {
    border-left: medium none;
    border-right: 1px solid #e1e1e1;
    border-top: medium none;
    color: #959595;
    font-size: 12px;
    padding: 9px;
}
table.variations > tbody > tr > td {
    border: 1px solid #e1e1e1;
}
table.variations > tbody > tr > td a {
    color: #959595;
}
.chosen-container-single .chosen-single {
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #888888 !important;
}
.chosen-container .chosen-drop {
    background: none repeat scroll 0 0 #fff !important;
}
.cart-collaterals .cross-sells {
    float: left;
    margin-bottom: 20px;
    width: 50%;
}
.cart-collaterals .cross-sells ul.products li.product {
    width: 49%;
}
.woocommerce-page table.shop_table td.product-name a {
    color: #959595;
}
@media (max-width: 767px) {
    .woocommerce table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
        margin-bottom: 5px;
    }
    .checkout-button {
        float: left !important;
        margin-left: 0 !important;
        margin-top: 5px;
    }
    .coupon .input-text {
        margin-bottom: 5px !important;
    }
    .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator, .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2, .cart_totals {
        width: 100% !important;
    }
    .product .images, .product .summary, .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator, .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        margin-bottom: 9px;
        width: 100%;
    }
    .product .images, .product .summary, .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator, .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
        width: 100%;
    }
    .images .thumbnails a img {
        height: 60px;
    }
    .woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
        padding: 9px 8px;
    }
    .woocommerce table tr {
        display: inline-block;
        width: 100%;
    }
    .woocommerce table.shop_table th, .woocommerce-page table.shop_table th, .woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
        float: left;
        width: 100%;
    }
    .woocommerce table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
        margin-bottom: 5px;
    }
    .checkout-button {
        float: left !important;
        margin-left: 0 !important;
        margin-top: 5px;
    }
    .coupon .input-text {
        margin-bottom: 5px !important;
    }
    .actions input {
        clear: both;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
    .images .thumbnails a {
        width: 14%;
    }
    .woocommerce table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
        margin-bottom: 5px;
    }
    .checkout-button {
        float: left !important;
        margin-left: 0 !important;
        margin-top: 5px;
    }
    .coupon .input-text {
        margin-bottom: 5px !important;
    }
    .woocommerce table tr {
        display: inline-block;
        width: 100%;
    }
    .woocommerce table.shop_table th, .woocommerce-page table.shop_table th, .woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
        float: left;
        width: 100%;
    }
    .woocommerce table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
        margin-bottom: 5px;
    }
    .checkout-button {
        float: left !important;
        margin-left: 0 !important;
        margin-top: 5px;
    }
    .coupon .input-text {
        margin-bottom: 5px !important;
    }
    .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator, .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2, .cart_totals {
        width: 100% !important;
    }
    .actions input {
        clear: both;
    }
    .product .images, .product .summary, .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator, .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
        width: 100%;
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        width: 49%;
    }
}
